---
layout: default
permalink: /tjqueuq/
title: TJ Queue
---
{% include header.html %}

<div id="archives" class="wrapper space">
{% assign categories = site.categories | sort %}
{% for category in categories %}
	<div class="archive-group">
		{% capture category_name %}{{ category | first }}{% endcapture %}
		{% if category_name == "TJ Queue" %}
		<h3 class="category-head">{{ category_name }}</h3>
		{% assign posts = site.categories[category_name] | sort: "nav_ordering" %}
		{% for post in posts %}
			<article class="archive-item">
				<a href="{{ site.baseurl }}{{ post.url }}"><i class="material-icons">insert_drive_file</i> {{post.title}}</a>
			</article>
		{% endfor %}
		{% endif %}
	</div>
{% endfor %}
</div>
{% include footer.html %}
