<section class="sidebar">
	<div class="logo"><a href="https://techjoomla.com" target="_blank">{% include logo.html %}</a> </div>
	<div class="home-link"><a href="/"><i class="material-icons">home</i> Docs Homepage</a></div>
	{% assign categories = site.categories | sort %}
	{% for category in categories %}
		{% assign name = category[0] %}
		{% assign posts = category[1] %}
		{% assign size = posts | size %}
		<div class = 'category-module {% if name == page.categories[0] %}active{% endif %}'>
			<span class="heading accordion {% if name == page.categories[0] %}active{% endif %}" >{{ name | replace: "-", " " }}</span>
			<ul class="panel">
				{% assign tutorials = posts | sort: "nav_ordering" %}
				{% for tutorial in tutorials  %}
					{% if tutorial.showSidebar %}
					{% if tutorial.published %}
					<li {% if tutorial.url == page.url %}class="active"{% endif %}>
						<a href="{{ site.baseurl }}{{ tutorial.url }}">{{ tutorial.title }}</a>
					</li>
					{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</section>
<script>
var acc = $(".accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        $(this).siblings("span.active").removeClass("active");

        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}

</script>
