.wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 30px;
	position: relative;
}

.logo {
	img {
		height: 50px;
	}
}

.content {
	background: #fff;
	padding:0;
}

dt, h2 {
	a.header-link {
		text-decoration: none;
		color: #ccc;
		opacity: 0;
		transition: opacity ease .2s,color ease .2s;
		vertical-align: bottom;
		margin: 0 0 0 5px;

		&:hover {
			color: $link-color;
		}
	}

	&:hover a {
		opacity: 1;
	}
}

.video_wrapper {
	position: relative;
	padding-bottom: 59.5%;
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.sidebar{
	position:fixed;
	max-width:275px;
	background: #808080;
    background: -webkit-linear-gradient(to bottom, #3fada8, #808080);
    background: linear-gradient(to bottom, #3fada8, #808080);
    padding: 15px;
    box-sizing:border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    height:100vh;
    
    .logo{
		text-align:center;
    }
    a{
		color:#fff;
		text-decoration:none;
		font-weight:600;
    }
    ul {
		list-style:none;
		margin:0;
		padding:0;
		li{
			margin:0;
			padding:0;
			a{
				font-weight:500;
				font-size: 0.8em;
			}
		}
    }
    span , i{
		color:#fff;
		font-weight:600;
    }
}
.category-module {
	margin: 0;
	ul {
		display:block;
	}
	&.active ul{
		display:block;
	}
}
.post{
	top: 0;
    right: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    left: 275px;
    padding:15px 0;
    section {
		padding:10px 30px;
    }
}
.space{
	padding:60px 0;
}
.home-link{
margin-bottom:10px;
}
a i.material-icons{vertical-align: sub;}
.pull-right{float:right;}
